<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.easyi18n.dao.UserDao">

    <insert id="create" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into User(username,password,email,phone_number,baidu_api) values (#{username},#{password},#{email},#{phoneNumber},#{baiduApi});
    </insert>

    <resultMap id="BaseResultType" type="dev.easyi18n.entities.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="username" property="username" jdbcType="VARCHAR"/>
        <id column="password" property="password" jdbcType="VARCHAR"/>
        <id column="email" property="email" jdbcType="VARCHAR"/>
        <id column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <id column="baidu_api" property="baiduApi" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getUserById" parameterType="Long" resultMap="BaseResultType">
        select * from User where id=#{id};
    </select>
</mapper>

